.mainbookingContainer {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    font-family: 'MonstMed';

}

.booked-cars-main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
    column-gap: 1em;
}

.booked-car-outerbox{
    width: 350px;
    height: 450px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 3px;
}

.booked-car-zip {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.ed-del-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'MonstMed';
}

.booked-car-img-div {
    width: 350px;
    height: 200px;
}

.booked-car-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booked-car-details-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booked-car-detail {
    margin-top: 8px;
    font-size: 16px;
}

.booked-car-booking {
    font-size: 16px;
}

p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.vehicle-detail-view-link {
    text-decoration: none;
    color: rgb(10, 111, 158);
    font-size: 16px;

}

.vehicle-detail-view-link:visited{
    text-decoration: none;
    color: rgb(10, 111, 158);
    font-size: 16px;
}

.booked-car-dates {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}

.no-cars-bookings{
    margin-top: 5%;
    margin-left: 12%;
}

.no-cars-bookings{
    font-family: 'MonstMed';

}
