.mainHomePage {
    margin-top: 63px;
    overflow-y: scroll;
    /* height: 100vh; */
}

.home-page-one{
    width: 100vw;
    /* height: 672px; */
    /* height: 65vh; */
    background-color: black;
}

.home-page-one-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-img{
    height: 100px;
    width: 150px;
}

.home-page-one-video-box {
    width: 85%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.hp-video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.home-page-one-video-text {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    flex-direction: column;
    align-items: center;
}


.home-page-two {
    width: 100vw;
    /* height: 760px; */
    /* height: 45vh; */
    background-color: rgb(63, 32, 32);
    position: relative;
}

.home-page-two-inner {
    height: 760px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.home-page-two-btn-box {
    width: 50vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;


}

.home-page-two-quote {
    width: 50vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.home-page-quote-text {
    color: white;
}

.home-page-two-car-image {
    position: absolute;
    /* z-index: -1; */
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 3;

}

.hp-car-img {
    position: absolute;
    height: 30vh;
    /* width: 97%; */
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 3;
}
