.signUpBlackBox {
    margin: auto;
    width: 500px;
    border-radius: 10px;
  }

  .signUpElements {
    display: flex;
    flex-direction: column;
    background: rgb(15, 15, 15);
    /* background-image: linear-gradient(90deg, rgba(255,8,22,0.6853335084033614) 23%, rgba(172,41,41,0.4808517156862745) 46%, rgba(0,0,0,0.46964723389355745) 66%); */
    align-items: center;
    margin-top: 100px;
    padding: 30px 20px;
  }

  .formWelcomeBoxTxt {
    color: white;
    text-align: center;
    line-height: 40px;
    inline-size: 250px;
    overflow-wrap: break-word;
    font-family: "MonstMed";
    margin-left: auto;
    margin-right: auto;
  }

  .formMainDiv {
    width: 300px;
    align-content: center;
  }

  .forminputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .formInputIndiv {
    width: 100%;
    background-color: rgb(51, 51, 51);
  }

  .formInputIndiv::placeholder {
    color: rgb(182, 182, 182);
    font-size: 12px;
    font-family: "MonsThin";
  }

  .forminputs input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 15px;
    font-family: "MonsThin";
  }

  button.submitBtn:hover{
    background:#fff;
    color:#ab1a1a;
  }
  button.submitBtn:before,button.submitBtn:after
  {
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #ab1a1a;
      transition:400ms ease all;
      content:'';
  }
  button.submitBtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button.submitBtn:hover:before,button.submitBtn:hover:after
  {
    width:100%;
    transition:800ms ease all;
  }

  .submitBtn {
    background:#ab1a1a;
    color:#fff;
    border:none;
    position:relative;
    min-height:40px;
    /* padding:0 2em; */
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-right: 5%;
    width: 100%;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
    font-family: "MonsThin";
    border-radius: 4px;
}

  /* .submitBtn {
    padding: 15px 10px 15px 10px;
    width: 100%;
    color: white;
    background: #d71e1e;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "NexaExtraBold";
  } */

  .orBox {
    margin-top: 25px;
    color: white;
    font-family: "MonsThin";
  }


  .loginFromSignUp {
    color: white;
    display: flex;
    align-items: center;
  }

  .loginFromSignUpBtn {
    margin-left: 10px;
  }

  .loginFromSignUpTxt {
    font-family: "NexaLight";
    font-size: 15px;
  }

  .demoUserLogBtn {
    padding: 15px 10px 15px 10px;
    width: 100%;
    color: white;
    background: #1ed760;
    font-size: 10px;
    letter-spacing: 2px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'MonsThin';
  }

  .loginButton {
      border: none;
      background-color: transparent;
      color: #ffffff;
      font-size: 13px;
      letter-spacing: 2px;
      font-family: 'MonsThin';
      font-size: 12px;
      cursor: pointer;
  }

  .Modal {
    overflow: hidden;
    border-radius: 12px;
  }

  .signupErrors {
    color: red;
    margin-right: 9%;
  }
