.main-navbar-container {
    height: 64px;
    background-color: rgb(15, 15, 15);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-navbar-logout-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-top: 10px; */
    padding-top: 20px;
    padding-right: 15px;
}
